.App{
  font-family: Cera, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

@media (min-width: 768px) {
  .banner{
    font: normal 14px/16px cera;
    height: 24px;
    color: #fff;
    background: #000;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-categories{
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    margin-left: 40px;
  }  
  .topheader{
    font: 500 0.83rem Cera;
    color: #666;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 0 0 #ccc;
    height: 85px;
    padding: 0 30px;
  }
  .brand{
    display: inline-block;
      max-width: 1200px;
      width: auto;
      margin: 0 20px 10px 0;
      border-radius: 3px;
      text-align: center;
      line-height: 0;
      -webkit-transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease;
      text-decoration: none;
      width: calc((100% - 60px) / 3);
  }
  .brandimg{
    background: center center / cover no-repeat transparent;
    display: inline-block;
    height: 235.2px;
    /* width: 384px; */
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .banner{
   display: none;
  }
  .header-categories{
    display: none;
  }
  .topheader{
    font: 500 0.83rem Cera;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 0 #ccc;
    height: 65px;
    padding: 0 30px;
  }
  .brand{      
    display: inline-block;
    margin: 5px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    line-height: 0;
  }
  .brandimg{
    background: center center / cover no-repeat transparent;
    display: inline-block;
    height: 365.05px;
    width: 596px;
    max-width: 100%;
  }
}

.currbtn{
  border: 0;
  background: transparent;
  padding: 0;
  outline: none;
  position: absolute;
  left: calc(50% - 600px);
  cursor: pointer;
  color: #fff;
}

.currbtn .down {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  margin: 0 5px;
}

.currbtn .down:before {
  content: "";
  border: 1px solid #fff;
  height: 5px;
  width: 5px;
  border-color: transparent #fff #fff transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  top: 0;
}

.textscreen{
  position: relative;
  background-color: #000;
  color: #fff;
  width: 900px;
  height: 24px;
  overflow: hidden;
}

.txtspan{
  width: 100%;
  font-size: 0.9rem;
  font-family: Cera;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  line-height: 24px;
  height: 24px;
  position: absolute;
    left: 0;
    top: 0;
    width: auto;
    overflow: initial;
    color: #fff;
    animation: right_to_left 40s linear infinite;
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -100%;
  }
}

.navbar{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 66vw;
}

.navtitle{
  color: #666;
  text-transform: uppercase;
  cursor: pointer;
}

.header-actions{
  padding-left: 48px;
  display: flex;
  justify-content: space-between;
  font-family: Cera;
  font-size: 0.9rem;
  color: #000;
  list-style: none;
  align-items: center;
}

.action{
  cursor: pointer;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
}

.action-margin{
  margin-left: 23px;
}

.down-arrow,.search-ico{
  margin-right: 6px;
  color: #666;
  position: relative;
  top: 1px;
  font-size: 0.8rem;
}

.ct-cart{
  position: absolute;
  background: #fd7685;
  color: #fff;
  font-weight: 500;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 14px;
  left: 15px;
}

.main{
  margin: 0 auto;
  padding-top: 110px;
}

.slide{
  display: block;
  background: center center no-repeat;
  width: 100%;
    /* opacity: 0; */
    animation: fillcolor 2s ease-out 2s 1 normal forwards running;
    /* ease out animations gives feeling of responsiveness while loading*/
}

@keyframes fillcolor {
  from {background-color: goldenrod;}
  to {background-color: azure;}
}

.spotlight{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 8px auto 0;
}

.sptlgt{
  font-family: Cera;
  width: 100%;
  max-width: 1200px;
  font-size: 1.7143rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0;
  margin-top: 56px;
  padding-right: 15px;
  text-align: left;
}
