.App{
  font-family: Cera, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.banner{
  font: normal 14px/16px cera;
  height: 24px;
  color: #fff;
  background: #000;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currbtn{
  border: 0;
  background: transparent;
  padding: 0;
  outline: none;
  position: absolute;
  left: calc(50% - 600px);
  cursor: pointer;
  color: #fff;
}

.currbtn .down {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  margin: 0 5px;
}

.currbtn .down:before {
  content: "";
  border: 1px solid #fff;
  height: 5px;
  width: 5px;
  border-color: transparent #fff #fff transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  top: 0;
}

.textscreen{
  position: relative;
  background-color: #000;
  color: #fff;
  width: 900px;
  height: 24px;
  overflow: hidden;
}

.txtspan{
  width: 100%;
  font-size: 0.9rem;
  font-family: Cera;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  line-height: 24px;
  height: 24px;
  position: absolute;
    left: 0;
    top: 0;
    width: auto;
    overflow: initial;
    color: #fff;
    animation: right_to_left 40s linear infinite;
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -100%;
  }
}

.topheader{
  font: 500 0.83rem Cera;
  color: #666;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 0 #ccc;
  height: 85px;
  padding: 0 30px;
}

.header-categories{
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  margin-left: 40px;
}

.navbar{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 66vw;
}

.navtitle{
  color: #666;
  text-transform: uppercase;
  cursor: pointer;
}

.header-actions{
  padding-left: 48px;
  display: flex;
  justify-content: space-between;
  font-family: Cera;
  font-size: 0.9rem;
  color: #000;
  list-style: none;
  align-items: center;
}

.action{
  cursor: pointer;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
}

.action-margin{
  margin-left: 33px;
}

.down-arrow,.search-ico{
  margin-right: 6px;
  color: #666;
  position: relative;
  top: 1px;
  font-size: 0.8rem;
}

.ct-cart{
  position: absolute;
  background: #fd7685;
  color: #fff;
  font-weight: 500;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 14px;
  left: 15px;
}

.main{
  margin: 0 auto;
  padding-top: 110px;
}

.slide{
  display: block;
  background: center center no-repeat;
  width: 100%;
    /* opacity: 0; */
    animation: 0.3s ease-out 0s 1 normal forwards running animation-5f1q21;
}